:root {
    --background: #191919;
    --primary: #202020;
    --secondary: #252422;
    --tertiary: #C6A5F1;
    --neutral: #403D39;
    --accent1: #ffebcd;
    --accent2: #C94343;
    --accent3: #EB5E28;
    --text: #FFFCF2;
}

::-webkit-scrollbar{
  background-color: var(--secondary);
  width: .25rem;
  height: .25rem;
  cursor: pointer;
}

::-webkit-scrollbar-thumb{
  border-radius: 1rem;
  background-color: var(--neutral);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px); 
}

#link-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
}

.tooltip-wrapper{
  width: max-content;
  transition: ease 0.5s;
  position: absolute;
  left: 125%;
  /* border: 1px solid var(--neutral); */
  background-color: var(--secondary);
  border-radius: .5rem;
  z-index: 50;
}

#progress-bar{
  position: absolute;
  width: 0%;
  height: 2.5px;
  bottom: 0;
  left: 0;
  z-index: 0;
  transition: linear .25s;
}

@keyframes animateProgressBar {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

.modalAnimationIn{
  animation: modalAnimateIn linear .5s forwards;
}

.modalAnimationOut{
  animation: modalAnimateOut linear .5s forwards;
}

@keyframes modalAnimateIn {
    0%{
      right: -110%;
    }
    99%{
      /* transform: translateX(-10%); */
    }
    100%{
      right: 2.5%;
    }
}

@keyframes modalAnimateOut{
  0%{
    right: 2.5%;
  }
  100%{
    right: -110%;
  }
}