:root {
    --background: #191919;
    --primary: #202020;
    --secondary: #252422;
    --tertiary: #C6A5F1;
    --neutral: #403D39;
    --accent1: #ffebcd;
    --accent2: #C94343;
    --accent3: #EB5E28;
    --text: #FFFCF2;
}

::-webkit-scrollbar{
  background-color: var(--secondary);
  width: .25rem;
  height: .25rem;
  cursor: pointer;
}

::-webkit-scrollbar-thumb{
  border-radius: 1rem;
  background-color: var(--neutral);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(10px); 
}

/* utility classes */

@keyframes slide-in {
  from{
    transform: translate3d(0,.25rem,0);
  }
  to{
    transform: translate3d(0,0,0);
  }
}

.animation-slide-in{
  animation: .3s 200ms ease-in slide-in;
}

.transition-element{
  transition: ease 0.3s;
}
/* utility class end */

#link-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
}

.tooltip-wrapper{
  width: max-content;
  transition: ease 0.5s;
  position: absolute;
  left: 125%;
  /* border: 1px solid var(--neutral); */
  background-color: var(--secondary);
  border-radius: .5rem;
  z-index: 50;
}
